div.site .container  {
	width: 100%  !important;
	margin: 0 30px; !important;
}

.repository-with-sidebar {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	-webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
	align-items: flex-start;
}

.repository-with-sidebar .repository-content {
	-webkit-order: 0;
	order: 0;
    -webkit-flex: 27 1 auto;
    flex: 27 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
}

.repository-with-sidebar .repository-sidebar {
    -webkit-order: 1;
    order: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    align-self: auto;
}